body {
  margin: 1em;
}

h1,
h2,
p,
a,
button {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 30px;
}

p,
button {
  font-size: 18px;
  letter-spacing: 1.6px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.border_color {
  border-color: #a6a6a6;
}

a {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#latestProjectsButton {
  background-color: #e1b07e;
  border-style: none;
  border-radius: 5px;
  font-weight: 600;
  width: 20em;
  height: 2em;
}

/** || Header **/

header {
  border-bottom: solid 1px;
  padding-bottom: 2em;
}

header,
footer {
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 10em;
}

.link_header {
  font-size: 20px;
  gap: 3em;
  display: flex;
}

/** || Footer **/

footer {
  border-top: solid 1px;
}

footer p {
  text-align: center;
}

/* Index */
/** || Section 1**/

.main_index {
  grid-template-columns: 30em 35em;
  justify-content: center;
  padding: 20px;
  margin-top: 3em;
}

.info_section {
  flex-direction: column;
  margin-top: 3em;
}

.info_section h1,
.info_section h2 {
  margin: 0;
}

.info_section p {
  width: 21em;
  font-size: 20px;
  line-height: 1.6;
}

.profil_image {
  width: 40em;
}

/** || Section 2 **/

.fun_fact_section {
  flex-direction: column;
}

.absolutt {
  position: absolute;
  margin-top: 25em;
  padding-left: 22em;
}

.absolutt p {
  width: 10em;
}

.bold {
  font-weight: bold;
}

/* Projects Page */
/** || Project cards  **/

.title {
  justify-content: center;
  margin-top: 3em;
}

.main_project {
  grid-template-columns: 25em 25em 25em;
  justify-content: center;
  gap: 5em;
  margin: 5em;
}

.cover_image {
  width: 100%;
}

.card1,
.card2,
.card3 {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #7b513a;
  border-radius: 5px;
  flex-direction: column;
}

.card_content {
  flex-direction: column;
  padding-top: 1em;
  padding-left: 3em;
}

.card1 a,
.card2 a,
.card3 a {
  line-height: 2;
}

/** || Media Query **/

@media (max-width: 768px) {
  .main_index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section,
  .fun_fact_section {
    width: 100%;
  }

  .fun_fact_section {
    flex-direction: row;
    margin-top: 5em;
  }

  .profil_image {
    width: 100%;
    max-width: 300px;
  }

  .absolutt {
    position: static;
    margin-top: 1em;
    padding-left: 0;
    text-align: center;
  }

  /* project */

  .main_project {
    grid-template-columns: none;
  }
}

@media (max-width: 450px) {
  p,
  a {
    font-size: 12px;
  }

  .fun_fact_section {
    flex-direction: row;
    margin-top: 5em;
  }

  .profil_image {
    width: 100%;
    max-width: 300px;
    padding-right: 3em;
  }

  .absolutt {
    margin-top: 10em;
    padding-left: 13em;
    position: absolute;
  }

  footer {
    margin-top: 3em;
  }
}
